language: php

php:
  - 7.0

services:
  - mysql

before_script:
  - cp .env.travis .env
  - mysql -e 'create database roman_num;'
  - composer self-update
  - composer install --no-interaction

script:
  - vendor/bin/phpunit
